@model SistemaEFood.Modelos.ViewModels.UsuarioVM
@{
    ViewData["Title"] = "Modificar usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = " Usuario";
}
<div class="form-container ">
<form method="post">
    @if (Model.UserModel.Id != "")
    {
        titulo = "Editar Usuario";
        <input asp-for="UserModel.Id" id="user-id" hidden/>
    }

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-title font-color-white">
            <div class="center-form">
                <h2 class="soda-font-bold">@titulo</h2>
            </div>
        </div>
        <div class="p-3">
       
        <div class="row">
            <div class="col-md-6">
                <label>Usuario</label>
                <input asp-for="UserModel.UserName" class="form-control"/>
                <span asp-validation-for="UserModel.UserName"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Email</label>
                <input type="text" asp-for="UserModel.Email" class="form-control" placeholder="Email" id="email" />
                <span asp-validation-for="UserModel.Email" class="text-danger"></span>
            </div>
            </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Pregunta de Seguridad</label>
                <input type="text" asp-for="UserModel.PreguntaSeguridad" class="form-control" placeholder="PreguntaSeguridad" id="preguntaSeguridad" />
                <span asp-validation-for="UserModel.PreguntaSeguridad" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Respuesta de Seguridad</label>
                <input type="text" asp-for="UserModel.RespuestaSeguridad" class="form-control" placeholder="RespuestaSeguridad" id="respuestaSeguridad" />
                <span asp-validation-for="UserModel.RespuestaSeguridad" class="text-danger"></span>
            </div>
        </div>
        <div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Rol Actual = @Model.UserModel.Role</label>
                        <select asp-for="UserModel.Role" asp-items="@Model.ListaRoles" class="form-select">
                            <option disabled selected> -- Seleccione un rol --</option>

                        </select>
                        <span asp-validation-for="UserModel.Role" class="text-danger"></span>
                    </div>
                </div>
            @if (Model.UserModel!=null)
            {
                <div class="d-grid gap-2 d-md-block">
                        <button type="submit" class="btn stbgreen-btn" onfocus="false" asp-action="Upsert" asp-route-id="@Model.UserModel">
                        <i class="bi bi-pencil-square"></i> Guardar Cambios  @Model.UserModel.UserName
                    </button>
                        <a asp-action="Index" class="btn btn-return">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>

            }
            else
            {
                <div class="d-grid gap-2 d-md-block">
                        <button type="submit" class="btn stbgreen-btn" onfocus="false">
                        <i class="bi bi-plus-square-fill"></i> Crear
                    </button>
                        <a asp-action="Index" class="btn  btn-return ">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>

            }
        </div>
    </div>

</form>
</div>
<style>
    /* Style for the popup modal */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 300px; /* Max width */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        position: relative;
    }

    /* Close button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    /* Style for the form */
    .form-container input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        box-sizing: border-box;
    }

    .form-container button {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

        .form-container button:hover {
            background-color: #45a049;
        }
        #reset-password-modal{
            display:none;
        }
</style>

<button onclick="displayResetPasswordForm()" class="stbgreen-btn reset-password-button">Reset Password</button>

<div id="reset-password-modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeResetPasswordForm()">&times;</span>
        <div id="reset-password-form" class="form-container"></div>
    </div>
</div>

@section Scripts{

  
  

    <script>
        function displayResetPasswordForm() {
            const modal = document.getElementById('reset-password-modal');
            const formContainer = document.getElementById('reset-password-form');

            formContainer.innerHTML = `
                <h2>Reset Password</h2>
                <form id="password-reset-form">
                    
                    <label for="new-password">New Password:</label>
                    <input type="password" id="new-password" name="new-password" required>
                    <label for="confirm-password">Confirm New Password:</label>
                            <input type="password" id="confirm-password" name="confirm-password" required    pattern=".{6,}" oninput="this.setCustomValidity(this.value !== document.getElementById('new-password').value ? 'Passwords must match.' : '')" title="Passwords must match">
                    <button type="submit">Reset Password</button>
                </form>
            `;

            modal.style.display = 'flex';

            const form = document.getElementById('password-reset-form');
            form.onsubmit = function (event) {
                event.preventDefault();
                var userId = $('#user-id').val();

                
                var password = $('#new-password').val();
                
               
               
                cambiarContraseña(userId,password);
                alert('Password reset request submitted');
                closeResetPasswordForm();
            };
        }
        function cambiarContraseña(id,passwordToSend) {

          
            
           
            
            $.ajax({
                type: "POST",
                url: '/Admin/Usuario/CambiarContrasenna',
                 data :JSON.stringify({ UserID: id, Password: passwordToSend }),
                contentType: "application/json",
                success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                       // datatable.ajax.reload();
                    }
                    else {
                        toastr.error(data.message);
                    }
                }
            });
            
        }

        function closeResetPasswordForm() {
            const modal = document.getElementById('reset-password-modal');
            modal.style.display = 'none';
        }

        // Close the modal if the user clicks outside of the modal content
        window.onclick = function (event) {
            const modal = document.getElementById('reset-password-modal');
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        };
    </script>
}

