@model SistemaEFood.Modelos.ViewModels.UsuarioVM
@{
    ViewData["Title"] = "Modificar usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = " Usuario";
}

<form method="post">
    @if (Model.UserModel.Id != "")
    {
        titulo = "Editar Usuario";
        <input asp-for="UserModel.Id" hidden/>
    }
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 class="text-info">@titulo</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Usuario</label>
                <input asp-for="UserModel.UserName" class="form-control"/>
                <span asp-validation-for="UserModel.UserName"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Email</label>
                <input type="text" asp-for="UserModel.Email" class="form-control" placeholder="Email" id="email" />
                <span asp-validation-for="UserModel.Email" class="text-danger"></span>
            </div>
            </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Pregunta de Seguridad</label>
                <input type="text" asp-for="UserModel.PreguntaSeguridad" class="form-control" placeholder="PreguntaSeguridad" id="preguntaSeguridad" />
                <span asp-validation-for="UserModel.PreguntaSeguridad" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Respuesta de Seguridad</label>
                <input type="text" asp-for="UserModel.RespuestaSeguridad" class="form-control" placeholder="RespuestaSeguridad" id="respuestaSeguridad" />
                <span asp-validation-for="UserModel.RespuestaSeguridad" class="text-danger"></span>
            </div>
        </div>
        <div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Rol Actual = @Model.UserModel.Role</label>
                        <select asp-for="UserModel.Role" asp-items="@Model.ListaRoles" class="form-select">
                            <option disabled selected> -- Seleccione un rol --</option>

                        </select>
                        <span asp-validation-for="UserModel.Role" class="text-danger"></span>
                    </div>
                </div>
            @if (Model.UserModel!=null)
            {
                <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-primary" onfocus="false" asp-action="Upsert" asp-route-id="@Model.UserModel">
                        <i class="bi bi-pencil-square"></i> Guardar Cambios <a> @Model.UserModel.UserName</a>
                    </button>
                    <a asp-action="Index" class="btn btn-success">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>

            }
            else
            {
                <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-primary" onfocus="false">
                        <i class="bi bi-plus-square-fill"></i> Crear
                    </button>
                    <a asp-action="Index" class="btn btn-success">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>

            }
        </div>
    </div>

</form>

