@model SistemaEFood.Modelos.LineaComida

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Linea de Comida";
}


<form method="post" id="formLineaComida">
    <div class="form-container">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        @if (Model.Id != 0)
        {
            titulo = "Actualizar Linea de Comida";
            <div class="col-12 border-bottom p-0 form-title font-color-white">
                <div class="center-form">
                    <h2 class="soda-font-bold">@titulo</h2>
                </div>
            </div>
            <div class="center-form">
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label for="id">Código:</label>
                    <input type="text" class="form-control" id="id" value="@Model.Id" readonly />
                    <label>Nombre</label>
                    <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre de la Linea de Comida" id="nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                </div>
            </div>
            
        }
        else
        {
            <div class="col-12 border-bottom p-0 form-title font-color-white">
                <div class="center-form">
                    <h2 class="soda-font-bold">@titulo</h2>
                </div>
            </div>
            <div class="center-form">
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Nombre</label>
                    <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre de la Linea de Comida" id="nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                </div>
            </div>
        }
        
        
        <br />
        <div class="center-form">
        <div>
            @if (Model.Id != 0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
            }
            else
            {
                <partial name="_BotonesCrearYRegresar" model="Model.Id" />
            }
            </div>
        </div>



    </div>


</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById("nombre").addEventListener('change', function () {
            validarNombre();
        });

        document.getElementById("formLineaComida").addEventListener('submit', function (event) {
            event.preventDefault();
            validarNombreAntesDeEnviar();
        });

        function validarNombreAntesDeEnviar() {
            var url = '@Url.Content("~/")' + "Admin/LineaComida/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombreInput = document.getElementById("nombre");
                        swal("Error", "Nombre ya Existe", "error");
                        nombreInput.value = "";
                        return;
                    } else {
                        document.getElementById("formLineaComida").submit();
                    }
                });
            });
        }

        function validarNombre() {
            var url = '@Url.Content("~/")' + "Admin/LineaComida/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';
            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombre = document.getElementById("nombre");
                        swal("Error", "Nombre ya Existe", "error");
                        nombre.value = "";
                        return;
                    }
                });
            })
        }
    </script>
}
