@model SistemaEFood.Modelos.TiqueteDeDescuento

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Tiquete De Descuento";
}


<form method="post" id="formTiqueteDescuento">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        @if (Model.Id != 0)
        {
            titulo = "Actualizar Tiquete De Descuento";
            <input type="hidden" asp-for="Id" id="id" />
        }
        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Codigo</label>
                <input type="text" asp-for="Codigo" class="form-control" placeholder="Codigo" id="codigo"/>
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre" id="nombre"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Disponibles</label>
                <input type="text" asp-for="Disponibles" class="form-control" placeholder="Cantidad de disponibles" min="0" title="Por favor ingresa solo números" />
                <span asp-validation-for="Disponibles" class="text-danger" data-val-msg="El valor tiene que ser un número"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Descuento</label>
                <div class="input-group">
                    <input type="number" asp-for="Descuento" class="form-control" placeholder="Descuento" id="descuento" min="1" max="100" title="Por favor ingresa un número entre 0 y 100">
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
                <span asp-validation-for="Descuento" class="text-danger"></span>
            </div>
        </div>



        <br />
        <div>
            @if (Model.Id != 0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
            }
            else
            {
                <partial name="_BotonesCrearYRegresar" model="Model.Id" />
            }
        </div>



    </div>


</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        document.getElementById("nombre").addEventListener('change', function () {
            validarNombre();
        });

        document.getElementById("codigo").addEventListener('change', function () {
            validarCodigo();
        });

        document.getElementById("formTiqueteDescuento").addEventListener('submit', function (event) {
            event.preventDefault();
            validarNombreAntesDeEnviar();
        });

        function validarNombreAntesDeEnviar() {
            var url = '@Url.Content("~/")' + "Admin/TiqueteDeDescuento/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombreInput = document.getElementById("nombre");
                        swal("Error", "Nombre ya Existe", "error");
                        nombreInput.value = "";
                        return;
                    } else {
                        validarCodigoAntesDeEnviar();
                    }
                });
            });
        }

        
        function validarNombre() {
            
            var url = '@Url.Content("~/")' + "Admin/TiqueteDeDescuento/ValidarNombre";
            
            var id = '#id';
            var nombre = '#nombre';
            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombre = document.getElementById("nombre");
                        swal("Error", "Nombre ya Existe", "error");
                        nombre.value = "";
                        return;

                    }
                 
                });
            })
        }


        function validarCodigo() {

            var url = '@Url.Content("~/")' + "Admin/TiqueteDeDescuento/ValidarCodigo";

            var id = '#id';
            var codigo = '#codigo';
            $.getJSON(url, { id: $(id).val(), codigo: $(codigo).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var codigo = document.getElementById("codigo");
                        swal("Error", "Codigo ya Existe", "error");
                        codigo.value = "";
                        return;

                    }

                });
            })
        }

        function validarCodigoAntesDeEnviar(){

            var url = '@Url.Content("~/")' + "Admin/TiqueteDeDescuento/ValidarCodigo";
            var id = '#id';
            var codigo = '#codigo';
            $.getJSON(url, { id: $(id).val(), codigo: $(codigo).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                    var codigo = document.getElementById("codigo");
                        swal("Error", "Codigo ya Existe", "error");
                        codigo.value = "";
                       
                        return;

                    }
                    var descuento = document.getElementById("descuento").value;
                    if (descuento > 100 || descuento < 1) {
                        swal("Error", "Descuento debe ser un valor de 1 al 100", "error");
                        descuento.value = 1;
                        return;
                    }
                    document.getElementById("formTiqueteDescuento").submit();
                });
            })
        }

    </script>
}