@model SistemaEFood.Modelos.ViewModels.CarroCompraVM
@using SistemaEFood.Utilidades

<form method="post">
    <br />
    @if (Model.CarroCompraLista.Count() > 0)
    {
        <div>
            <div class="container form-container">
                <div class="">
                    <div class="card-header-EFOOD  text-light ml-0 row ">
                        <div class="col-6">
                            <i class="bi bi-cart2"></i> &nbsp;
                            Carro de Compras
                        </div>
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model.CarroCompraLista)
                        {
                            <div class="row">

                                <div class=" d-none d-lg-block col-lg-1 text-center py-2">
                                    <img src="@item.Producto.ImagenUrl" class="rounded" width="100" />
                                </div>
                                <div class="col-4 text-sm-right col-lg-2 text-lg-left">
                                    <h5><strong>@item.Producto.Nombre</strong></h5>
                                </div>
                                <div class="col-2 text-sm-right  col-lg-2 text-lg-left">
                                    <h5><strong>@item.TipoDePrecio</strong></h5>
                                </div>
                                <div class="col-2 text-sm-right  col-lg-2 text-lg-left">
                                    <h6><strong>₡@String.Format("{0:#,##0.00}", item.Precio) <span class="text-muted">x</span> @item.Cantidad </strong></h6>
                                </div>
                                <div class="col-2 text-sm-right  col-lg-2 text-lg-left">
                                    <h6> <strong>₡@String.Format("{0:#,##0.00}", item.Precio * item.Cantidad)</strong></h6>
                                </div>
                                <div class="col-2 col-lg-3 mt-4  row mb-2 btn-container ">
                                   
                                    <div class="col-2">
                                        <a asp-action="mas" asp-route-carroId="@item.Id" class="btn btn-outline-stbgreen">
                                            <i class="bi bi-plus-square-fill"></i>
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <a asp-action="menos" asp-route-carroId="@item.Id" class="btn btn-outline-danger">
                                            <i class="bi bi-dash-square-fill"></i>
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <a asp-action="remover" asp-route-carroId="@item.Id" class="btn btn-outline-danger">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </div>

                                </div>


                            </div>
                            <hr />
                        }

                        <div class="row">
                            <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span class="text-color-stbgreen"> Total (CRC)</span>
                                        <strong class="text-color-stbgreen">₡ <span id="txtTotalOrden">@String.Format("{0:#,##0.00}", Model.Orden.TotalOrden)</span></strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card-footer row">
                            <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
                                <a asp-area="Inventario" asp-controller="Carro" asp-action="Proceder" class="btn stbgreen-btn w-100">Proceder</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-12 p-0">
        <h3 class="text-color-stbgreen text-center"><i class="bi bi-cart2"></i></h3>
    </div>
    <div class="col-12 p-2">
        @if (Model.CarroCompraLista.Count() == 0)
        {
            <h3 class="text-color-stbgreen text-center">No hay Datos para Mostrar</h3>
        }

        <div class="text-center border-0">
            <a asp-area="Inventario" asp-controller="Home" asp-action="Index" class="btn btn-outline-stbgreen">Seguir Comprando</a>
        </div>
    </div>
</form>
